nodered/data/flows.json
[
    {
        "id": "9171bb90a67bec69",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3953f62d665c411e",
        "type": "mqtt-broker",
        "name": "ZenohMQTTBridge",
        "broker": "zenoh-mqtt-bridge",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8530645a5dacaf23",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "${MQTT_ADDR}",
        "port": "${MQTT_PORT}",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "716e96103515e9c2",
        "type": "mqtt-broker",
        "name": "localhostzenoh",
        "broker": "localhost",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5bcf35d20ed4695c",
        "type": "mqtt in",
        "z": "9171bb90a67bec69",
        "name": "MQTT Sensor Temperature",
        "topic": "#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8530645a5dacaf23",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "0577cc632d9411fd"
            ]
        ]
    },
    {
        "id": "0577cc632d9411fd",
        "type": "debug",
        "z": "9171bb90a67bec69",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 120,
        "wires": []
    },
    {
        "id": "653f785da88e3b57",
        "type": "mqtt in",
        "z": "9171bb90a67bec69",
        "name": "Zenoh MQTT Sensor Temperature",
        "topic": "sensor/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3953f62d665c411e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 260,
        "wires": [
            [
                "79c923f9beea730a"
            ]
        ]
    },
    {
        "id": "79c923f9beea730a",
        "type": "debug",
        "z": "9171bb90a67bec69",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "e10f8781631942b6",
        "type": "mqtt out",
        "z": "9171bb90a67bec69",
        "name": "Zenoh MQTT Pub",
        "topic": "sensor/topics",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8530645a5dacaf23",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "d6c9dcfdeee0ebb1",
        "type": "function",
        "z": "9171bb90a67bec69",
        "name": "Test Function",
        "func": "const now = new Date();\nmsg.payload = {\n    timestamp: now.getTime(),\n    temp: \"Deneme\"\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 420,
        "wires": [
            [
                "e10f8781631942b6"
            ]
        ]
    },
    {
        "id": "661e9907d579ce66",
        "type": "inject",
        "z": "9171bb90a67bec69",
        "name": "Inject Test Function",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 240,
        "y": 380,
        "wires": [
            [
                "d6c9dcfdeee0ebb1"
            ]
        ]
    }
]