nodered/data/flows.json
[
    {
        "id": "9171bb90a67bec69",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3953f62d665c411e",
        "type": "mqtt-broker",
        "name": "ZenohMQTTBridge",
        "broker": "${ZENOH_MQTT_ADDR}",
        "port": "${ZENOH_MQTT_PORT}",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8530645a5dacaf23",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "${MQTT_ADDR}",
        "port": "${MQTT_PORT}",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5bcf35d20ed4695c",
        "type": "mqtt in",
        "z": "9171bb90a67bec69",
        "name": "MQTT Sensor Temperature",
        "topic": "#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8530645a5dacaf23",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "0577cc632d9411fd"
            ]
        ]
    },
    {
        "id": "0577cc632d9411fd",
        "type": "debug",
        "z": "9171bb90a67bec69",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 120,
        "wires": []
    },
    {
        "id": "653f785da88e3b57",
        "type": "mqtt in",
        "z": "9171bb90a67bec69",
        "name": "Zenoh MQTT Sensor Temperature",
        "topic": "mqtt/demo/sensor/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3953f62d665c411e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 260,
        "wires": [
            [
                "79c923f9beea730a"
            ]
        ]
    },
    {
        "id": "79c923f9beea730a",
        "type": "debug",
        "z": "9171bb90a67bec69",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 260,
        "wires": []
    }
]
